*{
    margin: 0;
}

h3{
    font-size: 0.8rem;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 0.75rem;

}

.card-wrap{
    text-align: center;
    padding:25px 10px;
}

.content{
    width: 150px;
    height: 200px;
    background-color: rgba(212, 153, 255, 0.4);
    padding: 20px 5px 45px;
    border-radius: 20px;
}

.img-album{
    width: 80%;
    border-radius: 10px;
}

.info{
    height: 70px;
}

.btn-select{
    padding: 8px;
    width: 80px;
    background-color: rgba(255, 255, 255,0.5);
    color: black;
    font-size: 0.75rem;
    border: none;
    border-radius: 10px;
    position: relative;
}


.btn-select:hover{
    background-color: rgba(255, 255, 255,1);
    cursor: pointer;
}

.btn-select:active{
    background-color: rgba(255, 255, 255,1);
    top:2px;
}
