*{
    margin: 0;
}

h3{
    font-size: 1rem;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 0.9rem;

}

.card-wrap{
    text-align: center;
    padding:25px 10px;
}

.content{
    width: 200px;
    height: 250px;
    background-color: rgba(212, 153, 255, 0.4);
    padding: 40px 20px;
    border-radius: 20px;
}

.img-album{
    width: 75%;
}

.info{
    height: 70px;
}

.btn-card{
    padding: 10px;
    width: 80px;
    background-color: rgba(255, 255, 255,0.5);
    color: black;
    font-size: small;
    border: none;
    border-radius: 10px;
    position: relative;
}


.btn-card:hover{
    background-color: rgba(255, 255, 255,1);
    cursor: pointer;
}

.btn-card:active{
    background-color: rgba(255, 255, 255,1);
    top:2px;
}
