.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.center p{
    font-size: medium;
    margin: 5px;
}

.authorize{
    background-color: rgba(212, 153, 255, 0.5);
    padding: 10px;
    width: 80px;
    color: black;
    font-size: small;
    border: none;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.authorize:hover{
    background-color: rgba(212, 153, 255, 1);
    cursor: pointer;
}

.authorize:active{
    background-color: rgba(212, 153, 255, 1);
    top:2px;
}
