.form__search{
    text-align: left;
    margin: 20px 80px;
    
}

.form__search__input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(212, 153, 255, 0.5);
    width: 300px;
}

.btn__search{
    background-color: rgba(212, 153, 255, 0.5);
    padding: 10px;
    width: 80px;
    color: black;
    font-size: small;
    border: none;
    border-radius: 10px;
    position: relative;
    margin-left: 10px;
}

.btn__search:hover{
    background-color: rgba(212, 153, 255, 1);
    cursor: pointer;
}

.btn__search:active{
    background-color: rgba(212, 153, 255, 1);
    top:2px;
}
